In [29]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [30]:
data = np.arange(101)
data

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100])

In [31]:
data_df = pd.DataFrame(data)

In [32]:
data_df.describe()

                0
count  101.000000
mean    50.000000
std     29.300171
min      0.000000
25%     25.000000
50%     50.000000
75%     75.000000
max    100.000000

In [33]:
mixed_data = np.array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,   32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95, 100, 96,  97,  98,  99, 31 ])

In [34]:
mixed_data_df = pd.DataFrame(mixed_data)

In [36]:
mixed_data_df.describe()

                0
count  101.000000
mean    50.000000
std     29.300171
min      0.000000
25%     25.000000
50%     50.000000
75%     75.000000
max    100.000000

In [38]:
x = np.arange(10)
y = np.array([1, 1.2, 1.3, 1.5, 1.4, 1.7, 1.6, 1.9, 1,10, 1.12])

In [39]:
plt.plot(x,y)

NameError: name 'plt' is not defined